/* register.component.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.register-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 450px;
  text-align: center;
  margin: 5% auto;
}

h2 {
  font-size: 32px;
  margin-bottom: 25px;
  color: #333;
}

form div {
  margin-bottom: 20px;
  text-align: left;
}

label {
  font-size: 16px;
  color: #666;
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

button {
  background-color: #FF7E39;
  color: #ffffff;
  padding: 14px 22px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #FFAA00;
}

button:hover {
  background-color: #E56717;
}

button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

/* Стиль для уведомления об ошибке */
.error-message {
  color: red;
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
}
