header {
  background: linear-gradient(to right, #FF7E39, #FFAA00);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.catalog-title {
  font-size: 36px;
  color: white;
  font-weight: bold;
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 8px 16px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
}

button:hover {
  background-color: #f1f1f1;
}
