<header>
  <div class="header-content">
    <div class="catalog-title">Контрагент.NET</div>
    <nav>
      <div class="nav-buttons">
        <button *ngIf="authService.isLoggedIn()" routerLink="/counterparties">Контрагенты</button>
        <button *ngIf="isAdmin()" routerLink="/add-counterparty">Добавление контрагента</button>
        <button *ngIf="authService.isLoggedIn()" (click)="logout()">Выход</button>
        <button *ngIf="!authService.isLoggedIn()" routerLink="/login">Авторизация</button>
        <button *ngIf="!authService.isLoggedIn()" routerLink="/register">Регистрация</button>
      </div>
    </nav>
  </div>
</header>


