<div class="counterparty-list">
  <h2>Каталог контрагентов</h2>
  <div class="counterparties">
    <div *ngFor="let counterparty of counterparties" class="counterparty-card">
      <img [src]="'data:image/jpeg;base64,' + counterparty.image" [alt]="counterparty.name" class="counterparty-image">
      <h3 [ngClass]="getRatingClass(counterparty.partnership_rating)">{{ counterparty.name }}</h3>
      <p><strong>Телефон:</strong> {{ counterparty.phone }}</p>
      <p><strong>Email:</strong> {{ counterparty.email }}</p>
      <p><strong>Страна:</strong> {{ counterparty.country }}</p>
      <p><strong>Адрес:</strong> {{ counterparty.address }}</p>
      <p><strong>Оценка сотрудничества:</strong> {{ counterparty.partnership_rating }}</p>
      <p><strong>Тип контрагента:</strong> {{ counterparty.counterparty_type }}</p>
      <p><strong>ИНН/УНП:</strong> {{ counterparty.tax_number }}</p>
      <p><strong>Расчетный счет:</strong> {{ counterparty.bank_account }}</p>
      <button *ngIf="isAdmin" (click)="deleteCounterparty(counterparty.id)" class="delete-button">
        Удалить
      </button>
    </div>
  </div>
</div>
